<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<!--meta name="description" content="">
		 <meta name="author" content=""-->

	<!-- CSS -->
	<link href="assets/css/bootswatch_paper.min.css" rel="stylesheet">
	<link href="assets/css/custom.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<title>Accès professeur</title>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="">
				<b><i class=""></i> Gestion des commissions</b>
			</a>

			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="logout/prof">Déconnexion</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container fluid">
	<h4 class="text-center">Commissions en cours</h4>
	<h6 class="text-center" id="libelle"></h6>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Etudiant</th>
			<th>Situation</th>
			<th>Décision</th>
		</tr>
		</thead>
		<tbody id="table">
		<tr>
			<td>John Doe</td>
			<td>John est un sale élève il manque trop de respect</td>
			<td>john@example.com</td>
		</tr>
		<tr>
			<td>Mary</td>
			<td>Moe</td>
			<td>mary@example.com</td>
		</tr>
		<tr>
			<td>July</td>
			<td>Dooley</td>
			<td>july@example.com</td>
		</tr>
		</tbody>
	</table>
</div>

<footer>
	<hr>
	<p class="text-center">Made with <b>CodeIgniter, Bootstrap</b></p>
</footer>

<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Custon JS (AJAX)-->
<script src="assets/js/professeur.js"></script>
</body>
</html>